
@{
    ViewData["Title"] = "ViewCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*ViewBag.cartTotal = cartTotal;
    ViewBag.carts = cartItems;
    ViewBag.products = cartProducts;
    ViewBag.productsInfo = cartProductInfos;*@

@ViewBag.cartTotal

@*@ViewBag.products[0].ProductName;*@

hi
@ViewBag.cartTotalWithTax

<h1>ViewCart</h1>

<div class="text-center">
    <h1 class="display-4">Product List</h1>

    @foreach (Product prod in (List<Product>)ViewBag.products)
    {
        //<form asp-action="Products">
        <div class="card " style=" padding: 18rem; margin: auto; text-align: center">
            <div class="card-body">
                <h5 class="card-title" value="">@prod.ProductName.ToString()</h5>
                @foreach (ProductInfo prodInfo in (List<ProductInfo>)ViewBag.productsInfo)
                {
                    @if (prodInfo.ProductId == prod.ProductId)
                    {
                        <div>
                            Description: @prodInfo.ProductDescription
                            <br />
                            Price: @prodInfo.ProductPrice
                            <br />
                            <p class="btn btn-outline-dark" style="color: white;" name="productId">
                                @Html.ActionLink("ViewProduct", "ViewProduct", new { productId = prod.ProductId })
                            </p>
                        </div>

                    }
                }
            </div>
        </div>
        //</form>

    }
</div>