@model IEnumerable<ProjectRainforest.Models.OrderContents>

@{
    ViewData["Title"] = "ViewOrderDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ViewOrderDetails</h1>

<p>@ViewBag.Address</p>

<div style="max-width: 18rem; min-width: 18rem; margin-bottom: 20px;" text-align: center">

    @foreach(Product prod in (List<Product>)ViewBag.Products)
    {
        @foreach (OrderContents order in (List<OrderContents>)ViewBag.Orders)
        {
            @if (order.ProductId == prod.ProductId)
            {
            <div class="card-body">
                Product: @prod.ProductName<br />
                Price: @order.PricePaid<br/>
                Quantity: @order.Quantity<br />
            </div>
            }
        }
    }
</div>
<h4>total: @ViewBag.Subtotal</h4>
<h4>total with tax: @ViewBag.TotalWithTax</h4>
<h4>Shipping Address: @ViewBag.address</h4>

