@model IEnumerable<ProjectRainforest.Models.Product>

@{
    ViewData["Title"] = "ShowMyProducts";
}

<h1>ShowMyProducts</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                <a asp-action="ViewEditProduct" asp-route-ProductID="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-ProductID="@item.ProductId">Details</a> |
                <a asp-action="DeleteProduct" asp-route-ProductID="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
