@model ProjectRainforest.Models.Product

@{
    ViewData["Title"] = "ViewProduct";
    Layout = "_layout";
}
@using Microsoft.AspNetCore.Identity
@using ProjectRainforest.Areas.Identity.Data

@inject UserManager<RainforestUser> UserManager

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Product: <!--@Html.DisplayNameFor(model => model.ProductName)-->
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class="col-sm-2">
            Vendor: <!--@Html.DisplayNameFor(model => model.VendorId)-->
        </dt>
        <dd class="col-sm-10">
           @ViewBag.vendor.VendorTitle <!--@Html.DisplayFor(model => model.VendorId)-->
        </dd>
        @foreach (ProductInfo prodInfo in (List<ProductInfo>)ViewBag.details)
        {
            @if (prodInfo.ProductId == Model.ProductId)
            {
    <dd class="col-sm-10">
        Description: @prodInfo.ProductDescription<br />
        Price: @prodInfo.ProductPrice<br />
        <div class="card" style="max-width: 18rem; min-width: 18rem; margin: 20px;" text-align: center">

            <img class="card-img-top" src="@prodInfo.ProductImg" alt="Image Not Found">
            </div>

    </dd>
            }
        }

    </dl>

    <div class="col-md-4">
        <form asp-controller="Cart" asp-action="AddToCart">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Quantity: </label>
                <input class="form-control" type="number" max="5" min="1" name="q" value="1"/>
            </div>
            <div class="form-group">
                
                <input hidden class="form-control" name="productId" value="@Model.ProductId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add to Cart" class="btn btn-primary" />
            </div>
        </form>
    </div>
<div>
    <a asp-controller="Product" asp-action="ViewAllProducts">Back to List</a>
</div>


<script>
    $(function () {
        $('.link').click(function () {
            var ipvalue = $("#IP").val();
            this.href = this.href.replace("xxx", ipvalue);
        });
    });
</script>