@{
    ViewData["Title"] = "Products";
    Layout = "_Layout";
}
<h1>Product List</h1>
<div class="card-deck justify-content-between" style="padding: 20px;">
    @foreach (Product prod in (List<Product>)ViewBag.items)
    {
    <div class="card" style="max-width: 18rem; min-width: 18rem; margin-bottom: 20px;" text-align: center">

        <h5 class="card-title" value="">@prod.ProductName.ToString()</h5>
        @foreach (ProductInfo prodInfo in (List<ProductInfo>)ViewBag.details)
        {
            @if (prodInfo.ProductId == prod.ProductId)
            {
                <img class="card-img-top" src="@prodInfo.ProductImg" style="height: 200px;" alt="Image Not Found">
                <div class="card-body">
                    <p>Description: @prodInfo.ProductDescription</p>
                    <p>Price: @prodInfo.ProductPrice$</p>
                    <p class="btn btn-outline-dark" style="color: white;" name="productId">
                        @Html.ActionLink("ViewProduct", "ViewProduct", new { productId = prod.ProductId })
                    </p>
                </div>

            }
        }
    </div>
    }
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


